/* common UI elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.d-flex {
    display: flex;
}

/* header elements */
.header-container {
    background-color: black;
    height: 50px;
}

.button-container {
    justify-content: flex-end;
    align-items: center;
}

.button {
    align-items: center;
    justify-content: center ;
    margin: 7px 6px;
    background-color: lightgray;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

/* main elements */
.main-container {
    background-color: black;
}

.img-container {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.img-item-dog {
    flex-wrap: wrap;
}

img {
    width: 207px;
    margin: 5px;
}

.position {
    position: relative;
}

.mic {
    position: absolute;
    bottom: 9px;
    left: 5px;
    background-color: darkgray;
    border: solid darkgrey 4px;
    width: 40px;
    height: 30px;
}

.name {
    position: absolute;
    color: white;
    bottom: 9px;
    left: 45px;
    background-color: darkgray;
    border: solid darkgrey 4px;
    height: 30px;
}

/* footer elements */
.footer-container {
    background-color: #222222;
    height: 150px;
}

.button2 {
    align-items: center;
    justify-content: center ;
    margin: 5px 8px;
    border: none;
    background-color: #222222;
    padding: 10px;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.icon2 {
    width: 70px;
    height: 40px;
}

.icon2:hover {
    background-color: darkgray;
    cursor: pointer;
}

.icon3 {
    width: 40px;
    height: 40px;
    margin-left: 475px;
}

.icon3:hover {
    background-color: darkgray;
    cursor: pointer;
}

.icon4 {
    width: 40px;
    height: 40px;
    margin-left: 60px;
}

.icon4:hover {
    background-color: darkgray;
    cursor: pointer;
}

.icon5 {
    width: 40px;
    height: 40px;
    margin-left: 60px;
}

.icon5:hover {
    background-color: darkgray;
    cursor: pointer;
}

.icon6 {
    width: 40px;
    height: 40px;
    margin-left: 60px;
}

.icon6:hover {
    background-color: darkgray;
    cursor: pointer;
}

.icon7 {
    width: 40px;
    height: 40px;
    margin-left: 60px;
}

.icon7:hover {
    background-color: darkgray;
    cursor: pointer;
}